.App {
  text-align: center;
}

.MiMergeEsMejor{
  background-color: blueviolet;
}

.MiMergeEsMejor .nav{
  display: grid;
  grid-template-columns: (230px 1fr);
}

.MiMergeEsMejor .nav .ul{
  text-decoration: line-through;
  font-weight: 1000;
  font-size: 100px;
}